# SPDX-FileCopyrightText: 2026 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

# These owners will be the default owners for everything in the repo. Unless a
# later match takes precedence, these owners will be requested for review when
# someone opens a pull request.

# Everything requires Platform team review by default
* @johnoloughlin @garyloug @palade @rranjan3 @krishnajs @scottmbaker @damiankopyto @cjnolan @SushilLakra @soniabha-intc @guptagunjan @sys-orch-approve @ram-srini @shankarsrinivas1 @sunil-parida

# CI files
.github/ @adimoft @daveroge @shanedonohue @manilk1x @johnoloughlin @garyloug @palade @rranjan3 @krishnajs @scottmbaker @damiankopyto @cjnolan @SushilLakra @soniabha-intc @guptagunjan @sys-orch-approve @ram-srini @shankarsrinivas1 @sunil-parida

# Dependabot is used to manage dependencies in this repository. It is configured to automatically open pull requests to
# update dependencies when new versions are available. The following files are managed by Dependabot and do not require
# manual review or approval for changes. However, if you want to review the changes made by Dependabot, you can do so
# by checking the pull requests it opens. This workaround was shared in
# https://github.com/orgs/community/discussions/23064#discussioncomment-8383923 and can be removed once GitHub properly
# supports CODEOWNERS for GitHub apps.
# Go modules dependencies
**/*.mod
**/*.sum
# Terraform dependencies
**/*.tf
**/*.tfvars
**/*.tfstate
**/*.tfstate.backup
# Helm dependencies
**/Chart.yaml
**/values.yaml
# Docker dependencies
**/Dockerfile

# Except the following folders, which can be merged with passing CI and one approval
/ci/
/e2e-tests/
/node/
/.test-dependencies.yaml
