# SPDX-FileCopyrightText: 2026 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

image:
  registry: {{ .Values.containerRegistryURL }}
  repository: common/auth-service
imagePullSecrets: []

resources: null

jwksURL: "http://platform-keycloak.orch-platform.svc:8080/auth/realms/master/protocol/openid-connect/certs"