# SPDX-FileCopyrightText: 2026 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

image:
  registry: {{ .Values.containerRegistryURL }}
  repository: common/auth-service
imagePullSecrets: []

resources: null
