# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

---
global:
  registry:
    name: "{{ .Values.containerRegistryURL }}/"
    imagePullSecrets: []
{{- $im := index .Values "infra-managers" | default dict }}
{{- $o11yEnabled := dig "enabled" false (index .Values "edgenode-observability" | default dict) }}
import:
  host-manager:
    enabled: {{ dig "host-manager" "enabled" true $im }}
  maintenance-manager:
    enabled: {{ dig "maintenance-manager" "enabled" true $im }}
  telemetry-manager:
    enabled: {{ dig "telemetry-manager" "enabled" $o11yEnabled $im }}
  os-resource-manager:
    enabled: {{ dig "os-resource-manager" "enabled" true $im }}
  networking-manager:
    enabled: {{ dig "networking-manager" "enabled" true $im }}
  attestationstatus-manager:
    enabled: {{ dig "attestationstatus-manager" "enabled" true $im }}

host-manager:
  inventory:
    addr: inventory.orch-infra.svc.cluster.local
  image:
    pullPolicy: IfNotPresent
  serviceArgs:
    traceURL: "orchestrator-observability-opentelemetry-collector.orch-platform.svc:4318"
  traefikReverseProxy:
    enabled: true
    secretName: "tls-orch"
    tlsOption: "gateway-tls"
    host:
      grpc:
        name: Host(`infra-node.{{ .Values.clusterDomain }}`)
  oidc:
    oidc_server_url: "http://platform-keycloak.orch-platform.svc/realms/master"
  multiTenancy:
    enforceMultiTenancy: "true"
  # Resources: managed by resource-overrides.yaml
  # https://doc.traefik.io/traefik/migrate/v2-to-v3-details/#kubernetes-crds-api-group-traefikcontainous
  traefikApiGroup: "traefik.io/v1alpha1"
  disabledProvisioning: {{ dig "disabledProvisioning" false $im }}

maintenance-manager:
  inventory:
    addr: inventory.orch-infra.svc.cluster.local
  image:
    pullPolicy: IfNotPresent
  serviceArgs:
    traceURL: "orchestrator-observability-opentelemetry-collector.orch-platform.svc:4318"
  traefikReverseProxy:
    enabled: true
    secretName: "tls-orch"
    tlsOption: "gateway-tls"
    host:
      grpc:
        name: Host(`update-node.{{ .Values.clusterDomain }}`)
  oidc:
    oidc_server_url: "http://platform-keycloak.orch-platform.svc/realms/master"
  telemetryMgrArgs:
    enableVal: false  # disable telemetry profile validation
  multiTenancy:
    enforceMultiTenancy: "true"
  # Resources: managed by resource-overrides.yaml
  mimaintmgr:
    traceURL: "orchestrator-observability-opentelemetry-collector.orch-platform.svc:4318"
  # https://doc.traefik.io/traefik/migrate/v2-to-v3-details/#kubernetes-crds-api-group-traefikcontainous
  traefikApiGroup: "traefik.io/v1alpha1"

networking-manager:
  image:
    pullPolicy: IfNotPresent
  serviceArgs:
    inventoryAddress: "inventory.orch-infra.svc.cluster.local:50051"
    traceURL: "orchestrator-observability-opentelemetry-collector.orch-platform.svc:4318"
  # Resources: managed by resource-overrides.yaml

telemetry-manager:
  image:
    pullPolicy: IfNotPresent
  telemetryMgrArgs:
    inventoryAddress: "inventory.orch-infra.svc.cluster.local:50051"
    traceURL: "orchestrator-observability-opentelemetry-collector.orch-platform.svc:4318"
  traefikReverseProxy:
    enabled: true
    secretName: "tls-orch"
    tlsOption: "gateway-tls"
    host:
      grpc:
        name: Host(`telemetry-node.{{ .Values.clusterDomain }}`)
  oidc:
    oidc_server_url: "http://platform-keycloak.orch-platform.svc/realms/master"
  multiTenancy:
    enforceMultiTenancy: "true"
  # Resources: managed by resource-overrides.yaml
  # https://doc.traefik.io/traefik/migrate/v2-to-v3-details/#kubernetes-crds-api-group-traefikcontainous
  traefikApiGroup: "traefik.io/v1alpha1"

os-resource-manager:
  managerArgs:
    osProfileRevision: 0.10.8
    osSecurityFeatureEnable: false
    inventoryAddress: "inventory.orch-infra.svc.cluster.local:50051"
    traceURL: "orchestrator-observability-opentelemetry-collector.orch-platform.svc:4318"
    rsProxyRegistryAddress: "rs-proxy.orch-platform.svc.cluster.local:8081/"
    rsProxyFilesAddress: "rs-proxy-files.orch-platform.svc.cluster.local:8081/"
    rsEnProfileRepo: "edge-orch/en/files/os-profile/"
    manualMode: false
  image:
    pullPolicy: IfNotPresent
  oidc:
    oidc_server_url: "http://platform-keycloak.orch-platform.svc.cluster.local/realms/master"
  autoProvision:
    enabled: false  # autoprovisioning disabled by default, can be enabled by enable-autoprovision profile
  multiTenancy:
    enforceMultiTenancy: "true"
  # Resources: managed by resource-overrides.yaml

attestationstatus-manager:
  inventory:
    addr: inventory.orch-infra.svc.cluster.local
  image:
    pullPolicy: IfNotPresent
  serviceArgs:
    traceURL: "orchestrator-observability-opentelemetry-collector.orch-platform.svc:4318"
  traefikReverseProxy:
    enabled: true
    secretName: "tls-orch"
    tlsOption: "gateway-tls"
    host:
      grpc:
        name: Host(`attest-node.{{ .Values.clusterDomain }}`)
  oidc:
    oidc_server_url: "http://platform-keycloak.orch-platform.svc/realms/master"
  multiTenancy:
    enforceMultiTenancy: "true"
  # Resources: managed by resource-overrides.yaml
  # https://doc.traefik.io/traefik/migrate/v2-to-v3-details/#kubernetes-crds-api-group-traefikcontainous
  traefikApiGroup: "traefik.io/v1alpha1"
