# SPDX-FileCopyrightText: 2025 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

global:
  registry:
    name: "{{ .Values.containerRegistryURL }}"
    imagePullSecrets: []

openidc:
  issuer: http://platform-keycloak.orch-platform.svc/realms/master

service:
  traefik:
    namespace: "orch-gateway"

