# SPDX-FileCopyrightText: 2026 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

certDomain: {{ .Values.clusterDomain | quote }}

{{- if .Values | getOrNil "self-signed-cert" }}
generateOrchCert: {{ .Values | getOrNil "self-signed-cert.generateOrchCert" | default false }}
{{- end }}
