# SPDX-FileCopyrightText: 2026 Intel Corporation
#
# SPDX-License-Identifier: Apache-2.0

namespace: orch-database

type: postgresql
mode: standalone

version:
  postgresql: "17"

cluster:
  instances: {{ env "EMF_PG_INSTANCES" | default "1" }}
  storage:
    size: {{ env "EMF_PG_STORAGE_SIZE" | default "8Gi" | quote }}
  postgresql:
    parameters:
      huge_pages: "off"
{{- if .Values.postgresql }}
      max_connections: {{ .Values.postgresql.maxConnections | default "200" | quote }}
      shared_buffers: {{ .Values.postgresql.sharedBuffers | default "24MB" | quote }}
{{- else }}
      max_connections: "200"
      shared_buffers: "24MB"
{{- end }}
  roles:
{{- range .Values.database.databases }}
{{- $secretName := printf "%s-%s" .namespace .name }}
{{- $userName := printf "%s-%s_user" .namespace .name }}
    - ensure: present
      login: true
      name: {{ $userName }}
      passwordSecret:
        name: {{ $secretName }}
{{- end }}
  initdb:
    database: postgres
    owner: orch-database-postgresql_user
    localeCType: "en_US.UTF-8"
    localeCollate: "en_US.UTF-8"
    secret:
      name: "orch-database-postgresql"
    postInitSQL:
{{- range .Values.database.databases }}
{{- $dbName := printf "%s-%s" .namespace .name }}
{{- $userName := printf "%s-%s_user" .namespace .name }}
    - CREATE DATABASE "{{ $dbName }}";
    - BEGIN;
    - REVOKE CREATE ON SCHEMA public FROM PUBLIC;
    - REVOKE ALL ON DATABASE "{{ $dbName }}" FROM PUBLIC;
    - CREATE ROLE "{{ $userName }}";
    - GRANT CONNECT ON DATABASE "{{ $dbName }}" TO "{{ $userName }}";
    - GRANT ALL PRIVILEGES ON DATABASE "{{ $dbName }}" TO "{{ $userName }}";
    - ALTER DATABASE "{{ $dbName }}" OWNER TO "{{ $userName }}";
    - COMMIT;
{{- end }}
